.info{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}


.feedback{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    box-shadow: 2px 2px 3px #636161;
    margin: 10px;
    border-radius: 30px;
}

@media only screen and (max-width: 600px){
    .info{
        width: 90%;
    }
}

